{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="w-1/2 mx-auto p-6 bg-gray-50 rounded-xl">
    
<h1 class='mb-6 text-2xl font-semibold'>{{ title }}</h1>
<form method="POST" action="." enctype="multipart/form-data" class="w-1/2">
    {% csrf_token %}

    
    <div class="mb-4">
        <label for="category" class="block mb-2 text-gray-700">Category:</label>
        {{ form.category }}
    </div>
    <div class="mb-4">
        <label for="name" class="block mb-2 text-gray-700">Item Name:</label>
        {{ form.name }}
    </div>
    <div class="mb-4">
        <label for="description" class="block mb-2 text-gray-700">Description:</label>
        {{ form.description }}
    </div>
    <div class="mb-4">
        <label for="price" class="block mb-2 text-gray-700">Price:</label>
        {{ form.price }}
    </div>
    <div class="mb-4">
        <label for="image" class="block mb-2 text-gray-700">Image:</label>
        {{ form.image }}
        <img id="preview" src="#" alt="Image Preview" class="mt-4 hidden w-fit h-48 object-cover rounded border" />
    </div>
    {# Add JavaScript to handle image preview #}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const imageInput = document.querySelector('input[type="file"]');
            const preview = document.getElementById('preview');
        
            imageInput.addEventListener('change', function () {
                const file = this.files[0];
        
                if (file) {
                    const reader = new FileReader();
        
                    reader.onload = function (e) {
                        preview.setAttribute('src', e.target.result);
                        preview.classList.remove('hidden');
                    }
        
                    reader.readAsDataURL(file);
                } else {
                    preview.setAttribute('src', '#');
                    preview.classList.add('hidden');
                }
            });
        });
        </script>


    {% if form.errors or form.non_field_errors %}
    <div class="mb-3 p-6 bg-red-100 rounded-xl">
        {% for fields in form %}
            {{ fields.errors }}
        {% endfor %}
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <button type="submit" class="mt-6 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
</form>
</div>
{% endblock %}