{% extends 'base.html' %}

{% block title %}Conversation{% endblock %}

{% block content %}
<h1 class=" text-3xl mb-6">Conversation</h1>

    <div class = "space-y-6 pb-4">
    {% for message in conversation.conversations.all %}
        <div class="p-4 border rounded-xl shadow-md overflow-hidden flex flex-col hover:bg-gray-100{% if message.created_by == request.user %} bg-blue-100 {% else %} bg-gray-50 {% endif %}">
                <div>
                    <p class="mb-4"><strong>{{ message.created_by.username }}</strong> @ {{ message.created_at }}</p>
                    <p class="text-gray-500">{{ message.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <form method="POST" action="." class="w-full mx-auto p-6 bg-gray-50 rounded-xl">
        {% csrf_token %}
        <div class="space-y-4">
            {{ form.content }}
        </div>

        <button type="send" class="mt-6 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Send</button>
{% endblock %}